.prompt {
  margin-top: 3rem;
  font-size: 1.3rem;
  color: white;
  font-weight: bold;
  text-align: center;
}

.phishForm {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.subjectInput {
  width: 40rem;
  font-size: 1.5rem;
  margin-right: 1rem;
}

.check {
  background-color: var(--accent);
  color: white;
  text-shadow: 0 0 3px var(--accent-dark);
  font-size: 1.5rem;
  border: none;
  border-radius: 1rem;
  padding: 0.5rem;
  min-width: 12rem;
  box-shadow: 0 0px 0.3rem var(--primary-dark);
}
.check:active {
  background-color: var(--accent-light);
}
