.App {
  background-color: white;
  margin: 3rem auto 1rem auto;
  max-width: 1200px;
  padding: 0.5rem;
  box-shadow: 0 0 1rem var(--primary-dark);
  border-radius: 0.3rem;
}

.labelGroup {
  display: flex;
  flex-wrap: wrap;
}

.label {
  background-color: #eeeeee;
  padding: 0 1rem;
  margin: 0.5rem;
  border-radius: 0.7rem;
  min-width: 5rem;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.labelText {
  margin: 0.6rem 0;
  font-weight: bold;
  font-size: 1.2rem;
  text-align: center;
}

.emailText {
  margin: 1.1rem 1.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

.man {
  height: 2rem;
  margin: 0 0.6rem 0 0;
}

.message {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  font-size: 1.2rem;
  color: white;
}

.coinMessage {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.coin {
  width: 2rem;
  margin: 0 0.3rem;
}

.scoreContainer {
  text-align: center;
}

.score {
  margin-bottom: 1rem;
}

.tryAgain {
  background-color: #aaa;
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 12rem;
  box-shadow: 0 0px 0.3rem var(--primary-dark);
  margin: 3rem 1rem;
}
.tryAgain:active {
  background-color: #ccc;
}

.next {
  background-color: var(--accent);
  text-shadow: 0 0 3px var(--accent-dark);
  color: white;
  font-size: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 1rem;
  min-width: 12rem;
  box-shadow: 0 0px 0.3rem var(--primary-dark);
  margin: 3rem 1rem;
}
.next:active {
  background-color: var(--accent-light);
}
