:root {
  --primary: #1e96fc;
  --primary-light: #83c5ff;
  --accent-dark: #fdc500;
  --accent-light: #ffd500;
}

html {
  background-color: var(--primary);
}

body {
  margin: 0;
  padding: 0;
  font-family: 'IBM Plex Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input, textarea, button {
  font-family: inherit;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  color: white;
  text-align: center;
  font-size: 4rem;
  font-weight: normal;
}
